@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;900&display=swap");

.preloader {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: rgb(111, 231, 247);
  z-index: 100;
  display: block;
  transition: display 0.5s ease;
}

.preloader img {
  position: absolute;
  height: 80px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: preloading 1s infinite;
}

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("https://images.pexels.com/photos/583846/pexels-photo-583846.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: floralwhite;
  font-family: "Roboto", "san-serif";
}

::-webkit-scrollbar {
  width: 2px;
}

@keyframes preloading {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.5;
  }
}

@-webkit-keyframes preloading {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.5;
  }
}

.homepage_header {
  padding: 20px;
  padding-left: 60px;
  padding-right: 40px;
  /* text-align: justify; */
}
.homepage_header h2,
h3,
h4 {
  font-weight: 400;
  letter-spacing: 0.5px;
}
.homepage_body {
  display: flex;
  flex-direction: column;
  padding: 20px;
  padding-left: 60px;
  padding-right: 40px;
  text-align: justify;
}

.homepage_button {
  padding: 15px;
  margin-top: 15px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 3px;
  border: none;
  background-color: #006977;
  color: white;
  font-weight: 500;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  cursor: pointer;
}

.digicard {
  min-height: 100vh;
  width: 100%;
  max-width: 400px;
  background-color: brown;
  margin: auto;

  overflow-x: hidden;
  background-image: url("https://app.makevcard.com/public/vcard5/vjimages/realestate2-min.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.pback {
  width: 100%;
  min-height: 150px;
  background-color: rgb(111, 231, 247);
}

.details {
  position: relative;
  width: 100%;
}

.profile-box {
  min-height: 170px;
  width: 75%;
  padding: 15px 10px;
  background-color: ghostwhite;
  z-index: 6;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-top: -100px;
}

.profile {
  height: 85px;
  width: 85px;
  border-radius: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  color: black;
  margin: auto;
}

.container h1 {
  font-weight: 700;
  font-size: 19px;
}

.container p {
  font-weight: 400;
  font-size: 16px;
}

.info {
  width: 100%;
  padding: 0 25px;
  height: 600px;
}

.titles {
  width: 80%;
  padding: 0px 0px 0px 15px;
  font-size: 17px;
  font-weight: 500;
  line-height: 35px;
  border-left: 6px solid rgb(111, 231, 247);
  background-color: rgba(10, 10, 10, 0.4);
  color: white;
  letter-spacing: 0.4px;
  margin-bottom: 25px;
  margin-top: 25px;
}

.info-container {
  display: flex;
  width: 80%;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

.button-box {
  width: 70px;
  height: 65px;

  margin-bottom: 15px;
  margin-top: 10px;
  margin-left: 5px;
  color: antiquewhite;
  cursor: pointer;
}

.button {
  height: 43px;
  width: 43px;
  border-radius: 100%;
  background-color: rgba(111, 231, 247, 0.644);
  margin: auto;
  margin-bottom: -10px;
  line-height: 43px;
}

.button-box p {
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
}

.fbutton-box {
  width: 45px;
  height: 45px;
  margin-bottom: 15px;
  margin-top: 10px;
  margin-left: 5px;
  color: antiquewhite;
  cursor: pointer;
}

.fbutton {
  height: 38px;
  width: 38px;
  border-radius: 100%;
  background-color: rgba(111, 231, 247, 0.644);
  margin: auto;
  line-height: 38px;
}

.footer {
  height: 20px;
  background-color: #222222;
  min-width: 100%;
  margin: 0;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  color: white;
  text-decoration: none;
  line-height: 20px;
  font-size: 13px;
  letter-spacing: 0.5px;
  margin-left: -25px;
  margin-top: 20px;
}

.blankpage {
  position: fixed;
  background-color: white;
  height: 100%;
  width: 100%;
  z-index: 12;
  text-align: center;
  overflow: scroll;
  display: none;
  transition: all 0.3s ease;
}

.blankpage h2 {
  background-image: url("https://app.makevcard.com/public/vcard5/vjimages/realestate2-min.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-decoration: none;
  line-height: 50px;
  font-size: 25px;
  font-weight: 400;
  padding: 15px;
}

.blankpage img {
  height: 150px;
  width: 150px;
}

.b-container {
  color: #555555;
  font-size: 16px;
  font-weight: 500;
  padding: 5px;
}

.b-container p {
  text-align: center;
}

.closeMe {
  padding: 13px 20px;
  background-color: rgb(111, 231, 247);
  font-size: 15px;
  font-weight: 400;
  color: black;
  width: 80px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  cursor: pointer;
}

.normal-container {
  justify-content: left;

  margin-top: 40px;
}

.s2 {
  margin-top: 20px;
  margin-left: 5px;
  font-size: 13px;
}

.inline {
  display: flex;
  flex-direction: row;
  cursor: pointer;
  margin-top: -20px;
}

.create-header h2 {
  font-size: 30px;
  font-weight: 400;
}

.create-body-form {
  padding: 20px;
  box-sizing: border-box;
}

.form-input {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.form-input p {
  flex: 0.3;
  font-size: 15px;
}
.form-input input {
  flex: 0.69;
  width: 100%;
  height: 20px;
  border-radius: 2px;
  border: 1px solid #ccc;
  padding: 5px;
  font-size: 12px;
  font-weight: 400;
  margin-top: 10px;
  margin-bottom: 10px;
}

.form-input input:focus {
  outline: none;
}

.username_div {
  display: flex;
  width: 100%;
  justify-content: center;
}

.usernameInput {
  background: transparent;
  height: 18px;
  font-weight: bold;
  letter-spacing: 0.5px;
  color: #ccc;
  width: 70px;
  font: 10px;
  border: none;
  margin-left: 5px;
  margin-top: 1px;
  border-bottom: 2px solid #ccc;
}
.usernameInput:focus {
  outline: none;
}

.form_button {
  display: flex;
  justify-content: center;
}
.form_button button {
  width: 100px;
  height: 35px;
  border: none;
  border-radius: 5px;
  background-color: rgb(9, 91, 100);
  color: white;
  font-size: 16px;
  font-weight: 400;
  margin-top: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}
